{%extends 'axf/base.html' %}
{% load staticfiles %}



{%block cart%}
{%endblock cart%}


{%block main%}
<div id="cart">
    <h3><b>购物车</b></h3>
    <section class="full">
        <section>
            <ul>
                <li>
                    <div class="clear">
                        <p class="infoJustify">收货人</p>
                        <p><span>Mirs</span></p>
                    </div>
                </li>
                <li>
                    <div class="clear"><p class="infoJustify">收货地址</p>
                        <p><span>北京。。。</span></p></div>
                </li>
            </ul>

            <section class="bill">
                <p>闪送超市</p>
                <p>￥0起送，22：00前满￥30免运费</p>
                <a>凑单专区</a>
            </section>

            <section class="delivery">
                <span>收货时间</span><span>一小时送达</span><a>可预订</a>
            </section>
            <section class="delivery">
                <span>收货备注</span><input type="text" placeholder="可输入100字以内特殊要求内容"/>
            </section>

            <menu>
                <ul>
                    {%for item in cartList%}
                    <li id="{{item.productid}}lis" class="menuList" style="margin-bottom: 0.2rem;">
                        <div class="confirm" style="display: inline-block; margin-right: 0.1rem">
                        <span class="ischose" goodsid="{{item.productid}}">
                            <span id="{{item.productid}}a">
                                {%ifequal True item.isChose%}
                                √
                                {%endifequal%}
                            </span>
                        </span>
                        </div>
                        <a href=""  style="display: inline-block">
                            <img src="{{item.productimg}}" width="60rem" height="60rem"/>
                            <p  style="display: inline-block">{{item.productname}}</p>

                            <span class="{{productprice}}" id="{{item.productid}}price">{{item.productprice}}</span>
                        </a>
                        <section style="display:inline-flex">
                            <button class="subShopping1" ga1="{{item.productid}}">-</button>
                            <span id="{{item.productid}}">{{item.productnum}}</span>
                            <button class="addShopping1" ga1="{{item.productid}}">+</button>
                        </section>
                    </li>
                    {%endfor%}
                    <li class="payTheBill">
                        <div class="confirm"><span><span>
                        {%if trueFlag%}
                        √
                        {%endif%}
                    </span></span></div>
                        <p style="display: inline-block"><span>O 全选</span><span>共计：</span><span>总价：</span></p>
                        <a style="display: inline-block">选好了</a>
                    </li>
                </ul>
            </menu>
        </section>
    </section>
</div>
{%endblock main%}