<script src="../../../../../Downloads/wstif-master/config/index.js"></script>{%extends 'axf/base.html' %}
{% load static from staticfiles %}

{%block market%}

{%endblock market%}



{%block main%}

<div id="order" style="width: 100%;
    height: 100%;
    position: absolute;
    z-index: +9;
    background: whitesmoke;
    overflow: hidden;
    padding-top: 2rem;
    padding-left: 0.3rem;
    padding-bottom: 1.5rem;">
<section>
    <ul>
        {% for item in productList%}
        <li><span style="width: 1.8rem;display: inline-block;margin-bottom: 0.5rem;">{{item.orderid}}</span><span style="width: 1.8rem;display: inline-block">{{item.productname}}</span><span style="width: 3rem;display: inline-block"><img src="{{item.productimg}}" width="60rem" height="60rem"/></span></li>
        {% endfor %}
    </ul>
</section>


</div>
{%endblock main%}